# Churn Case Part 1

## Reading all CSV files with Pandas

In [2]:
import pandas as pd

In [3]:
customer = pd.read_csv("./files/customer.csv")
customer.head()

   CustomerID  Gender SeniorCitizen Partner Dependents
0  3668-QPYBK    Male            No      No         No
1  9237-HQITU  Female            No      No        Yes
2  9305-CDSKC  Female            No      No        Yes
3  7892-POOKP  Female            No     Yes        Yes
4  0280-XJGEX    Male            No      No        Yes

In [5]:
cust_loc = pd.read_csv("./files/cust_loc.csv")
cust_loc.head()

      Cust_ID       State   Latitude   Longitude  ZipCode
0  3668-QPYBK  California  33.964131 -118.272783    90003
1  9237-HQITU  California  34.059281 -118.307420    90005
2  9305-CDSKC  California  34.048013 -118.293953    90006
3  7892-POOKP  California  34.062125 -118.315709    90010
4  0280-XJGEX  California  34.039224 -118.266293    90015

In [6]:
cust_services = pd.read_csv("./files/cust_services.csv")
cust_services.head()

,Cust_ID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No
1,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No
2,9305-CDSKC,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes
3,7892-POOKP,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes
4,0280-XJGEX,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes

In [7]:
cust_account = pd.read_csv("./files/cust_account.csv")
cust_account.head()

,Account_id,Tenure,Contract,PaymentMethod,PaperlessBilling,MonthlyCharges,TotalCharges
0,3668-QPYBK,2,Month-to-month,Mailed check,Yes,53.85,108.15
1,9237-HQITU,2,Month-to-month,Electronic check,Yes,70.70,151.65
2,9305-CDSKC,8,Month-to-month,Electronic check,Yes,99.65,820.5
3,7892-POOKP,28,Month-to-month,Electronic check,Yes,104.80,3046.05
4,0280-XJGEX,49,Month-to-month,Bank transfer (automatic),Yes,103.70,5036.3

In [8]:
cust_churn = pd.read_csv("./files/cust_churn.csv")
cust_churn.head()

           Id Churn
0  3668-QPYBK   Yes
1  9237-HQITU   Yes
2  9305-CDSKC   Yes
3  7892-POOKP   Yes
4  0280-XJGEX   Yes

## Create database and tables

In [9]:
import sqlite3

In [11]:
conn = sqlite3.connect("churn.db")
cur = conn.cursor()

In [13]:
# Create customer table
customer.to_sql("customer", conn, if_exists="replace", index=False)

7043

In [14]:
# Createa customer location table
cust_loc.to_sql("cust_loc", conn, if_exists="replace", index=False)

7043

In [15]:
# Createa customer services table
cust_services.to_sql("cust_services", conn, if_exists="replace", index=False)

7043

In [16]:
# Createa customer account table
cust_account.to_sql("cust_account", conn, if_exists="replace", index=False)

7043

In [17]:
# Createa customer churn table
cust_churn.to_sql("cust_churn", conn, if_exists="replace", index=False)

7043

## Information about tables

In [19]:
def table_info(conn, cursor):
    """Prints out all of the columns of every table in the DB.
    
    Arguments:
        conn: database connection object
        cursor: cursor object
    """
    
    tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * FROM {} LIMIT 0".format(table_name), conn)
        print(table_name)
        for col in table.columns:
            print("\t"+ col)
        print()

In [20]:
table_info(conn, cur)

customer
	CustomerID
	Gender
	SeniorCitizen
	Partner
	Dependents

cust_loc
	Cust_ID
	State
	Latitude
	Longitude
	ZipCode

cust_services
	Cust_ID
	PhoneService
	MultipleLines
	InternetService
	OnlineSecurity
	OnlineBackup
	DeviceProtection
	TechSupport
	StreamingTV
	StreamingMovies

cust_account
	Account_id
	Tenure
	Contract
	PaymentMethod
	PaperlessBilling
	MonthlyCharges
	TotalCharges

cust_churn
	Id
	Churn