# Introduction to Pandas With SQLite

In [ ]:
import pandas as pd
import sqlite3
import warnings
warnings.filterwarnings("ignore")

## Create a connection

In [ ]:
conn = sqlite3.connect("case_study.db")
cur = conn.cursor()

In [ ]:
# Test Connection
cur.execute("SELECT * FROM customer;")
cur.fetchall()

## Creation of a Dataframe (Pandas)

In [ ]:
cust_df = pd.read_sql_query("SELECT * FROM customer", conn)
cust_df.head(10)  # Print first 10 rows form the dataframe

In [ ]:
# Alternate way to read DB using pandas
alt_cust_df = pd.read_sql("SELECT * FROM customer", conn)
alt_cust_df.head(10)

In [ ]:
# Using WHERE clause.
filtered_cust_df = pd.read_sql("SELECT * FROM customer WHERE first_name = 'Rahul'", conn)
filtered_cust_df.head(10)

In [ ]:
# Using ORDER BY clause
ordered_cust_df = pd.read_sql("SELECT first_name, last_name FROM customer ORDER BY last_name", conn)
ordered_cust_df.head(10)

## Creating SQLite DB Tables Using Pandas Dataframe

In [ ]:
cust_df.to_sql("customer_duplicate", conn, if_exists="replace", index=False)

In [ ]:
dup_cust_df = pd.read_sql_query("SELECT * FROM customer_duplicate", conn)
dup_cust_df.head(10)  # Print first 10 rows form the dataframe