# Introduction to SQLite and its usage with Python

In [1]:
import sqlite3

## Create a connection, a table and add data

In [2]:
# Create connection (db)
conn = sqlite3.connect("example2.db")

In [3]:
# Create a cursor

cur = conn.cursor()

In [4]:
# Create table

cur.execute("CREATE TABLE customer (name TEXT, last_name TEXT, income REAL)")

In [5]:
# Insert a row in the table

cur.execute("INSERT INTO customer VALUES ('Favio', 'Vazquez', '4300')")

In [6]:
# Save results
conn.commit()

## Connect to an existing database

In [8]:
conn = sqlite3.connect("example2.db")
cur = conn.cursor()

In [10]:
# Run simple query
cur.execute("SELECT * FROM customer")
cur.fetchone()

('Favio', 'Vazquez', 4300.0)

In [11]:
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Favio', 'Vazquez', 4300.0)

## Add several rows

In [12]:
customer_list = [
    ("Sri", "Ambati", 3000),
    ("Sandeep", "Desai", 20000),
    ("Anu", "Gaur", 4020.5)
]

In [13]:
cur.executemany("INSERT INTO customer VALUES (?,?,?)", customer_list)

In [15]:
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Favio', 'Vazquez', 4300.0)
('Sri', 'Ambati', 3000.0)
('Sandeep', 'Desai', 20000.0)
('Anu', 'Gaur', 4020.5)

In [16]:
conn.commit()

In [17]:
conn.close()

## Run queries

In [19]:
conn = sqlite3.connect("example2.db")
cur = conn.cursor()

In [20]:
cur.execute("SELECT * FROM customer WHERE name= 'Favio'")
cur.fetchall()

[('Favio', 'Vazquez', 4300.0)]

In [21]:
cur.execute("SELECT * FROM customer WHERE last_name='Ambati'")
cur.fetchall()

[('Sri', 'Ambati', 3000.0)]

In [23]:
cur.execute("SELECT * FROM customer WHERE last_name='Johns'")
cur.fetchall()

[]

In [24]:
cur.execute("SELECT * FROM customer ORDER BY last_name")
cur.fetchall()

[('Sri', 'Ambati', 3000.0),
 ('Sandeep', 'Desai', 20000.0),
 ('Anu', 'Gaur', 4020.5),
 ('Favio', 'Vazquez', 4300.0)]

In [25]:
cur.execute("SELECT SUM(income) FROM customer")
cur.fetchone()

(31320.5,)

In [26]:
conn.close()